* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

:root {
    --primary-color : #0d0f1b;
    --secondary-color : #15172b;
    --accent-color : #ff4f9a;
    --text-color : #f1f1f1;
    --muted-text : #b0b0b0;
    --card-bg : #1b1d30;
    --hover-color: #ff83b1;
    --border-color : #2c2f45;
    --font-stack : 'Permanent Marker', cursive;
}
/* --------------------------------------------------------------------------------------- */
/* -----------------------------------------main things--------------------------------------*/
/* --------------------------------------------------------------------------------------- */
body {
    font-family: var(--font-stack);
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
}
.container {
    display : flex;
    height: 100vh;
}
a {
    color :var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color : var(--hover-color)
}

button {
    background-color: var(--accent-color);
    color: #fff;
    padding : 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3;
}

button:hover {
    background-color: var(--hover-color);
}





/* --------------------------------------------------------------------------------------- */
/* -----------------------------------------site header--------------------------------------*/
/* --------------------------------------------------------------------------------------- */

.header{
    width: 200px;
    background-color: #15172b;
    color: var(--text-color);
    padding: 20px;
}

nav ul{
    list-style : none;
    padding : 0;
}

nav ul li {
    margin : 15px 0;
}

nav ul li a {
    color : var(--text-color);
    text-decoration: none;
}
main {
    flex-grow : 1;
    padding : 30px;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.logo img{
    width: 40px;
}